html, body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
}

header h1 {
    margin: 0;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

header p {
    margin: 0;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

canvas {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(250, 250, 250);
    z-index: -1;
}